@charset "utf-8";

/* Common */
*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}
* {
  margin: 0;
  padding: 0;
}

/* Elem */
ul,
ol,
menu {
  list-style: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Layout */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 100%;
}
body {
  min-height: 100vh;
  line-height: 1;
}
